body{
    margin: 0;
    padding: 0;
    background: #c96ba8;
    background-image: url("contact_pic.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 2rem;
    /* background-size: 55rem 35rem; */
    background-size: 75rem 45rem;
}